.button {
    width: 102px;
    border: none;
    background: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #5E6C84;
    padding: 7px 0px;
    margin-left: 18px;
    text-align: center;
    margin-bottom: 6px;
    margin-top: 7px;
    cursor: pointer;
}

.button:hover {
    background: #FFFFFF;
    border-radius: 5px;
}

.disabled {
    width: 102px;
    border: none;
    background: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background: #5e6c843b;
    color: #FFFFFF;
    padding: 7px 0px;
    margin-left: 18px;
    text-align: center;
    margin-bottom: 6px;
    margin-top: 7px;
    cursor: default;
    border-radius: 5px;
}

/* .select {
    width: 230px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: none;
    margin-left: 20px;
    margin-bottom: 10px;
    color: black;
    outline: none;
} */

/* TEST */

.select {
    width: 230px;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.position {
    position: absolute;
}

.container_option {
    position: absolute;
    top: -6px;
    background: #FFFFFF;
    width: 230px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    padding-bottom: 10px;
}

.option {
    width: 230px;
    /* height: 35px; */
    display: flex;
    align-items: center;
    border: none;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 6px;
    text-align: start;
    padding: 5px 10px;
    cursor: pointer;
}

.option:hover {
    background: #DEDEDE;
}